{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/accounts/sign-up.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}
<h1 class="display-1">Sign Up</h1>
<form method="post">
    {% csrf_token %}

    {{ form.email|as_crispy_field }}

    {{ form.password|as_crispy_field }}

    {{ form.confirm_password|as_crispy_field }}

    <input type="submit" name="Signup">
</form>
<p class="lead">
    Already have an account? Sign in <a href="/acc/sign-in">here</a>.
</p>
{% endblock %}